* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,
    'Segoe UI',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  font-size: 21px;
  line-height: 32px;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
}

.container {
  width: 90%;
  max-width: 1170px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}

.container--bg {
  padding: 100px 0;
  background-color: #23424A;
  width: 100%;
  margin-bottom: 4rem;
}

.hero__content {
  width: 67%;
  padding-bottom: 6rem;
  color: white;
}

.hero__img {
  align-self: flex-start;
  width: 30%;
}

.btn {
  display: inline-block;
  background: #38CFD9;
  letter-spacing: 5%;
  padding: 1em 2em;
  margin-top: 1rem;
  text-decoration: none;
  color: #072A2D;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 80px;
}

.btn:hover {
  color: white;
  background: #29a8b1;
}

.main--content {
  width: 65%;
}

.aside--content {
  color: white;
  width: 30%;
  background-color: #136c72;
  align-self: flex-start;
  padding: 1.5em 20px;
  text-align: center;
}

.main-title {
  font-size: 2em;
  color: #136C72;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .row {
    display: block;
  }

  .aside--content,
  .main--content,
  .hero__img,
  .hero__content {
    width: 100%;
  }
}

.col+.col {
  margin-left: 40px;
}

.header {
  background: #136c72;
  padding: 1em 0;
}

.logo {
  margin-right: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.nav__list--primary {
  margin: 0 auto;
}

.nav__item+.nav__item {
  margin-left: 1em;
}

.nav__item--push-right {
  margin-left: auto;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}