* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,
    'Segoe UI',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  margin: 0;

}


img {
  max-width: 100%;
}

p {
  font-size: 21px;
  line-height: 32px;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container--bg {
  padding: 100px 0;
  background-color: #23424A;
  width: 100%;
  margin-bottom: 4rem;
}

.header--content {
  width: 67%;
  /* Here you would want to do padding 2rem 0 to give left
     and right but nothign on top and bott */
  padding-bottom: 6rem;
  color: white;
}

.header__img {
  align-self: flex-start;
  width: 30%;
}

.btn {
  display: inline-block;
  background: #38CFD9;
  letter-spacing: 5%;
  padding: 1em 2em;
  margin-top: 1rem;
  text-decoration: none;
  color: #072A2D;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 80px;
}

.btn:hover {
  color: white;
  background: #29a8b1;
}

.main--content {
  width: 65%;
}

.aside--content {
  color: white;
  width: 30%;
  background-color: #136c72;
  align-self: flex-start;
  padding: 1.5em 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: center;
}

.col+.col {
  margin-left: 40px;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}

.sidebar {
  padding: 1em;
  width: 32%;
  text-align: center;
  color: #fff;
  background-color: #136c72;
}